// ==============================
// Custom style
// 自定义样式
// ==============================
// You can override the variables in assets/css/_variables.scss to customize the style
// 您可以覆盖 assets/css/_variables.scss 中的变量以自定义样式

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:200,300,400,500,600|PT+Mono&display=swap');

$global-font-family: Noto Serif SC, Lato, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft Yahei, Segoe UI, Helvetica, Arial, sans-serif, Segoe UI Emoji;

$code-font-family: PT Mono, Fira Mono, Source Code Pro, Menlo, Consolas, Monaco, monospace;
